/*
  1. Use a more-intuitive box-sizing model.
*/
#crx-wld-root-bottom,
#crx-wld-root-top > *,
#crx-wld-root-bottom,
#crx-wld-root-top > *::before,
#crx-wld-root-bottom,
#crx-wld-root-top > *::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
#crx-wld-root-bottom,
#crx-wld-root-top > * {
  margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
#crx-wld-root-bottom,
#crx-wld-root-top > html,
#crx-wld-root-bottom,
#crx-wld-root-top > body {
  height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
#crx-wld-root-bottom,
#crx-wld-root-top > body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
#crx-wld-root-bottom,
#crx-wld-root-top > img,
#crx-wld-root-bottom,
#crx-wld-root-top > picture,
#crx-wld-root-bottom,
#crx-wld-root-top > video,
#crx-wld-root-bottom,
#crx-wld-root-top > canvas,
#crx-wld-root-bottom,
#crx-wld-root-top > svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
#crx-wld-root-bottom,
#crx-wld-root-top > input,
#crx-wld-root-bottom,
#crx-wld-root-top > button,
#crx-wld-root-bottom,
#crx-wld-root-top > textarea,
#crx-wld-root-bottom,
#crx-wld-root-top > select {
  font: inherit;
}

/*
    8. Avoid text overflows
  */
#crx-wld-root-bottom,
#crx-wld-root-top > p,
#crx-wld-root-bottom,
#crx-wld-root-top > h1,
#crx-wld-root-bottom,
#crx-wld-root-top > h2,
#crx-wld-root-bottom,
#crx-wld-root-top > h3,
#crx-wld-root-bottom,
#crx-wld-root-top > h4,
#crx-wld-root-bottom,
#crx-wld-root-top > h5,
#crx-wld-root-bottom,
#crx-wld-root-top > h6 {
  overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#crx-wld-root-bottom,
#crx-wld-root-top {
  isolation: isolate;
}
