/*
  1. Use a more-intuitive box-sizing model.
*/
#crx-wld-root-black,
#crx-wld-root-white > *,
#crx-wld-root-black,
#crx-wld-root-white > *::before,
#crx-wld-root-black,
#crx-wld-root-white > *::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
#crx-wld-root-black,
#crx-wld-root-white > * {
  margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
#crx-wld-root-black,
#crx-wld-root-white > html,
#crx-wld-root-black,
#crx-wld-root-white > body {
  height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
#crx-wld-root-black,
#crx-wld-root-white > body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
#crx-wld-root-black,
#crx-wld-root-white > img,
#crx-wld-root-black,
#crx-wld-root-white > picture,
#crx-wld-root-black,
#crx-wld-root-white > video,
#crx-wld-root-black,
#crx-wld-root-white > canvas,
#crx-wld-root-black,
#crx-wld-root-white > svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
#crx-wld-root-black,
#crx-wld-root-white > input,
#crx-wld-root-black,
#crx-wld-root-white > button,
#crx-wld-root-black,
#crx-wld-root-white > textarea,
#crx-wld-root-black,
#crx-wld-root-white > select {
  font: inherit;
}

/*
    8. Avoid text overflows
  */
#crx-wld-root-black,
#crx-wld-root-white > p,
#crx-wld-root-black,
#crx-wld-root-white > h1,
#crx-wld-root-black,
#crx-wld-root-white > h2,
#crx-wld-root-black,
#crx-wld-root-white > h3,
#crx-wld-root-black,
#crx-wld-root-white > h4,
#crx-wld-root-black,
#crx-wld-root-white > h5,
#crx-wld-root-black,
#crx-wld-root-white > h6 {
  overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#crx-wld-root-black,
#crx-wld-root-white {
  isolation: isolate;
}
