/* Todo: styled-components nutzen? */
/* Todo: light/dark mode beachten */

.stats {
  color: #999;
}

.stats > span {
  font-weight: bold;
}

.wins {
  color: #629924;
}

.losses {
  color: #c33;
}

.draws {
  color: #bf811d;
}
